* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    font-family: "Avenir Next" !important;
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 18px;
    overflow: auto;
    margin-top:0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.content-head h1 {
    /*margin: 2em 0;*/
    font-size: 2em;
    font-weight: 300;
    line-height: 1.7em;
    position: relative;
}
.content-head h2 {
    font-weight: 300;
    padding: 0;
    margin-top: 0;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */

.is-center {
    text-align: center;
}

.yelp {
    padding:1em;
}



/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.action-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}

a.action-button-primary {
    /* Rectangle 2: */
    background: #B53C3C;
    border: 1px solid #979797;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 8px;

    font-size: 120%;

    /* Schedule your sessio: */
    font-family: AvenirNext-DemiBold;
    font-size: 14px;
    color: rgba(255,255,255,0.88);
    letter-spacing: 0.05em;
    text-shadow: 0 1px 0 rgba(255,254,255,0.50);
}


.menu .pure-menu-selected a {
    color: lightgrey;
}

.menu a {
    color: darkgrey;
}
.menu li a:hover,
.menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.action-link a {
    color: darkgrey;
    font-size: 0.7em;
    margin: 0;
}

.action-link.regular a {
    color: darkgrey;
    font-size: 1em;
    margin: 0;
}

.action-link a:hover,
.action-link a:focus
{
    background: none;
    border: none;
    color: #AECFE5;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    /*padding-top:20px;*/
    /*padding-top:30px;*/
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*.intro-video {*/
/*width: 560px;*/
/*height: 315px;*/
/*}*/


/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */

.header {
    text-align: center;

    background: #0FA0CE;
    position:fixed;
    z-index: 99;
    height:54px;
    /*margin-bottom:20em;*/
    width:100%;
    /*margin:0px auto;*/
    top:0;
    /* Rectangle 3: */
    /*opacity: 0.25;*/
    background: #F7F7F3;
    border: 1px solid #E9E8DC;
}
#content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: relative;
    /*top: 87%;*/
    /*width: 70%;*/
    /*min-height: 12%;*/
    z-index: 97;
    background: white;
    margin: 4em 1em 0 1em;
}

/* We want to give the content area some more padding */
.content {
    /*padding: 1em 1em 3em;*/
    align-content: center;
    min-height: 150px;
}

.content-quote {
    font-style: italic;
}

.content-head {
    font-weight: 400;
    /*text-transform: uppercase;*/
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
.content-subhead i {
    margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    bottom: 0;
    width: 100%;
    text-align: center;

    background: #0FA0CE;
    width:100%;
    font-size: 1em;
    background: #F7F7F3;
    border: 1px solid #E9E8DC;
}

#banner {

    position: relative;
    background: transparent url('/assets/css/img/desktop-banner-1400x360.jpg') 0 0 no-repeat fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/css/img/desktop-banner-1400x360.jpg', sizingMethod='scale');

    background-size:contain;
    background-position:top 6em center;
    text-align: center;
    padding-bottom: 25.7142857142857%;
    margin-top: 4em;
    margin-bottom: 2em;

}

.img-area {
    margin: 2em 2em 2em 2em;
}

.menu-wrapper {
    top: 55px;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.1s;
    -moz-transition: height 0.1s;
    -ms-transition: height 0.1s;
    transition: height 0.1s;
    position: relative;
    /*z-index:-21;*/
}


.menu-wrapper.open {
    height: 20em;
    /*top:54px;*/
    background: #F7F7F3;
    border-radius: 3px;
    position:relative;
    /*z-index:99;*/
    text-align: center;
}

.menu {
    text-align: center;
}

.right-menu, .phone-header {
    text-align: right;
}

.left-menu {
    text-align: left;
}

.menu-toggle {
    width: 34px;
    height: 68px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index:99;
}

.menu-toggle .bar {
    background-color: green;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 00px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}

.menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(+6px);
}

.menu-toggle .bar:last-child {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-6px);
}

.menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-toggle.x .bar:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*
 * Non- desktop: close menu
 */
@media (max-width: 47.999em) {

    .menu-toggle {
        display: block;
    }

    .right-menu .left-menu{
        text-align: center;
    }

    #banner {

        background: transparent url('/assets/css/img/mobile-banner-700x300.jpg') 0 0 no-repeat fixed;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='mg/mobile-banner-700x300.jpg', sizingMethod='scale');

        background-size:contain;
        background-position:top 4em center;
        text-align: center;
        padding-bottom: 42.8571428571429%;
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    #banner.x {
        display: none;
    }

    #content-wrapper {
        margin-top: 1em;
    }

    #content-wrapper.x {
        margin-top: 4em;
    }


    .content-head {
        font-weight: 400;
        /*text-transform: uppercase;*/
        letter-spacing: 0.1em;
        margin: 2em 0 0.5em;
    }

    .content-head h1 {
        font-size: 1.4em;
        font-weight: 300;
        line-height: 1.3em;
        position: relative;
    }
    .content-subhead h2 {
        font-size: 1.2em;
        font-weight: 300;
        padding: 0;
        margin-top: 0.5em;
        margin-bottom: 0;
    }
}
